*{margin: 0;padding: 0;font-family: "微软雅黑";}
body,html{
	width: 640px;
	margin: 0 auto;
	background: #57b55d;
}
li{ list-style:none; }
a{ text-decoration:none; }
img{ vertical-align:top; }
input{outline: none;}
.banner{
	width: 640px;
	overflow: hidden;
}
.banner img{
	width: 640px;
	display: block;
}
.main1{
	width: 640px;
	overflow: hidden;
}
.main1 form{
	overflow: hidden;
	width: 100%;
}
.main1 form h2{
	font-size: 38px;
	color: #fff;
	text-align: center;
}
.main1 form > div{
	margin-top: 18px;
	height: 56px;
	overflow: hidden;
	padding-left: 75px;
}
.main1 form > div span{
	display: inline-block;
	font-size: 24px;
	color: #fff;
	height: 56px;
	line-height: 56px;
	float: left;
}
.main1 form > div input{
	float: left;
	width: 363px;
	height: 56px;
	background: url(../images/m1.png) no-repeat center;
	border: none;
	padding-left: 25px;
	margin-left: 15px;
	font-size: 24px;
	color: #333;
}
.main1 form > div input{
	margin-left: 12px;
}
.main1 form > div .select{
	width: 388px;
	height: 56px;
	background: url(../images/m2.png) no-repeat center;
	float: left;
	overflow: hidden;
	margin-left: 13px;
}
.main1 form > div .select select{
	width: 388px;
	height: 56px;
	display: block;
	border: none;
	background: none;
	outline: none;
	color: #d4d4d4;
	font-size: 24px;
	padding-left: 25px;
	font-weight: bold;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
}
.main1 form > div .select select option{
	font-size: 24px;
	color: #333;
}
.capt input{
	margin-left: 15px!important;
}
.main1 form .capt input{
	width: 196px;
	height: 56px;
	background: url(../images/m4.png) no-repeat left center;
}
.main1 form .capt a{
	display: block;
	float: left;
	margin-left: 14px;
	width: 154px;
	height: 56px;
	font-size: 20px;
	line-height: 58px;
	color: #480817;
	text-align: center;
	background: #fcdc59;
	border-radius: 8px;
}
.main1 form .submit{
	height: 79px;
	margin-top: 30px;
}
.main1 form .submit input{
	width: 484px;
	height: 79px;
	background: url(../images/m3.png) no-repeat center;
	margin: 0
}
.main2{
	width: 640px;
	height: 949px;
	overflow: hidden;
	margin-top: 24px;
	background: url(../images/m5.png) no-repeat center;
	margin-bottom: 35px;
}
.main2 h2{
	font-size: 30px;
	text-align: center;
	height: 30px;
	margin-top: 170px;
	color: #692b01;
	line-height: 30px;
}
.main2 p{
	font-size: 25px;
	line-height: 47px;
	margin-top: 3px;
	color: #480817;
	padding-left: 72px;
	margin-top: 42px;
}
.main2 p span{
	color: #f85951
}
.main2 p:nth-child(3){
	margin-top: 18px;
}
.main2 p:nth-child(4){
	margin-top: 18px;
}